@page
@model SensorService.UI.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div >
    Welcome @Model.UserName!
    @if (Model.IsAdministrator)
                            {
    <div>You mighty, you..</div>
                            }
</div>
